<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link rel="stylesheet" href="styles.css"> 
    
</head>
<body>

<div class="todo-container">
    <h1>TODOS</h1>
    <div class="tabs">
        <div class="tab active">Incomplete</div>
        <div class="tab ">Complete</div>
    </div>
    <div class="input-group">
        <input type="text" placeholder="Name">
        <button class="create-todo">Create Todo</button>
    </div>

</div>
 
</body>
</html>
 